body {
    background-color: #FFFBFB; /* gray */
}

#header-nav {
	background-color: #999999;
	border-radius: 0;
	border: 2px solid black;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#main-content {
	height:1000px;
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
}

#menu-descriptions section {
    margin: 5px;
    background-color: #C2C2C2;
    font-family: Times New Roman;
    font-size: 20px;
    font-weight: 550;
}

#header-nav .container {
	margin: 0;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
}

h1 {
	font-weight: bold;
}

#Chicken, #Beef, #Sushi {
	margin: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}

.navbar-header button.navbar-toggle {
	margin-top: 20px;
	margin-bottom: 0;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
  	font-size: 2em;
  }
  /* End Header */
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
  	font-size: 2em;
  }
  /* End Header */

  /* Home Page */
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1 { /* Restaurant name */
  	font-size: 2em;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
  }

   #collapsable-nav a:hover { /* Collapsed nav menu text when hovered over */
    font-size: 1.2em;
    font-weight: bold;
    color: white;
  }
  /* End Header */

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
  }

   #collapsable-nav a:hover { /* Collapsed nav menu text when hovered over */
    font-size: 1.2em;
    font-weight: bold;
    color: white;
  }
  /* End Header */
  
}